h2 {
  color: #CFCFD3;
  font-size: 1.5em;
  padding-left: 0.5rem;
}

section {
  padding-left: 1em;
  margin-bottom: 2em;
}

.none {
  color: #D67AFE;
}

.user {
  width: 80%;
  color: white;

  pre {
    color: #76F2D7;
    border: 1px solid #3D59FE;
    background-color: #1E1F44;
    padding: 5px;
  }

  input {
    color: lightgray;
    background-color: #100D24;
    border: none;
    border-bottom: 1px solid lightgray;
    font-size: 0.8em;
    margin-left: 0.5em;
  }
}

div.create {
  display: table;
  width: 70%;
  padding: 1.5em;
  padding-top: 0;

  &__field {
    margin-bottom: 10px;
    display: table-row;

    span {
      width: 120px;
      display: table-cell;
      font-size: 1.2em;
      color: white;
    }

    input {
      width: 99%;
      display: table-cell;
      color: lightgray;
      padding: 5px;
      font-size: 1.2em;
      border: 1px solid lightgray;
      background: rgba(255, 255, 255, 0.1);
      border: none;
      border-bottom: 1px solid rgb(194, 194, 194);
    }
  }

  button {
    display: block;
  }
}

button {
  color: #00FF9D;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}

.button-delete {
  background-color: #AA57E2;
}

.button-create {
  margin-top: 0.5em;
  background-color: #3D59FE;
}

.button-recreate {
  margin-top: 0.5em;
  background-color: #076FD7;
}

.button-token {
  margin-left: 0.5em;
  background-color: #3D59FE;
}
